/* override default settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: aquamarine;
}

.game-area {
    background-color: olivedrab;
}

.footer {
    background-color: brown;
}