@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');

/* override default settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Peralta;
}

/* general page styles */
body {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #1c4063;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
.heading {
    color: rgb(202, 154, 96);
    height: 3.5rem;
    font-size: 1.2rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem auto 2rem;
}

/* game section */
#game-area {
    border: 2px solid rgb(223, 209, 193);
    border-radius: 20px;
    height: 28rem;
    background-color: #0d2033;
}
/* main content headings */
h2,
h3 {
    font-size: 1rem;
    color: rgb(202, 154, 96);
    text-transform: uppercase;
    text-align: center;
    margin: 0.8rem auto;
}

h2 {
    height: 3.5rem;
    margin-bottom: 0;
}

#controls-area {
    border: 2px solid rgb(223, 209, 193);
    border-radius: 10px;
    height: 4.5rem;
    background-color: #1c4063;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 1rem 1rem;
}

/* Credit btn styling Web Dev Simplified - youTube */
.btn {
    background: none;
    border: none;
    font-size: 1.6rem;
    padding: 0.3rem 0;
}

#results-table {
    background-color: #0d2033;
    color: rgb(202, 154, 96);
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem 1rem;
}

.table {
    font-size: 0.7rem;
    text-align: center;
}

.table th {
    width: 7rem;
}

#player-emoji,
#computer-emoji {
    font-size: 2.5rem;
}

#player-emoji {
    text-align: right;
}

#computer-emoji {
    text-align: left;
}

#results-message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(202, 154, 96);
    height: 6rem;
    font-size: 1rem;
    margin: 0 2rem 1rem;
    padding: 1rem;
}

#tally-area {
    border: 2px solid rgb(223, 209, 193);
    border-radius: 10px;
    height: 3.3rem;
    background-color: #1c4063;
    align-items: center;
    margin: 0 1rem 1rem;
}

#tally-area h3 {
    font-size: 0.75rem;
    line-height: 0.1rem;
}
#tally-numbers {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem;
    font-size: 0.8rem;
    color: rgb(202, 154, 96);
}

#player-tally,
#computer-tally {
    color: #FFC83D;
}

/* footer */
#footer {
    background-color: #1c4063;
    color: azure;
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}